body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.choice {
    width: 75%;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

button {
    width: 200px;
    height: 100px;
}

.result {
    border-style: solid;
    border-color: black;
}